{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}

{% block body %}
  <section id="body">
    <div class="container mx-auto">

      {% block content %}
        <div class="prose max-w-none bg-white p-5 rounded-b">{{ page.content|raw }}</div>
        <div class="p-5">
          {% for child in collection %}
            <div class="bg-white p-5 rounded mb-8">
            {% include 'partials/newsfeed-item.html.twig' with {page: child} %}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
    </div>
  </section>
{% endblock %}
